<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
<aop:aspectj-autoproxy proxy-target-class="true"/>

<bean name="profileService" class="org.feiyu.cmpe275.Lab1.ProfileServiceImpl" >
<property name="profiles">
<null/>
</property>
</bean>

<bean name="profile" class="org.feiyu.cmpe275.Lab1.Profile" scope="prototype"/>

<bean class="org.feiyu.cmpe275.Lab1.ProfileServiceLoggingAspect" />

</beans>
